

p {
  color: rgb(39, 189, 209);
}


.col-md-6{
  background-color: rgb(180, 231, 9);
}
.container{

}

.btn{
  background-color: rgba(84, 126, 251, 1);
}
.butext{
color: white;
}

#btn2{
  background-color: rgb(232, 227, 227);
}

.butext2{
  color: rgba(84, 126, 251, 1);
}

#flt{
width: 293.328px;
float: right;
}
