p {
  color: rgb(39, 189, 209);
}

.container-fluid{
  margin: 1px;
  background-color: rgb(235, 74, 70);
}
.col-md-12{
  background-color: rgb(180, 231, 9);
  text-align: center;
}

.col-md-6{
  background-color: rgb(180, 231, 9);
}
#p1{
      margin: 0 0 10px;
}
