
h1{
  font: 200% sans-serif;
  font-size: 4em;
  color: #4D09BA;
}
.r{
  font-size: 3em;
  font: 150% sans-serif;
  color: #313132;
}

#j{
  font: oblique bold 120% cursive;
  color: #7F4FCC;
}
img{
   center;
}
#n{
  font-size: 3em;
  text-align: left ;
}
html{
  text-align: center;
}

.m{
  text-align: left;
}


#y{
  font: oblique bold 120% cursive;
  font-size: 5em;
  color: #514F81;
}